# main.yml

name: test_github_action # Give it any name

on:
  push:
    branches:
      - master
      - release/*
jobs:
  firebase-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-node@master
        with:
          node-version: 14.15.3

      - run: npm install

      - run: npm run deploy
        env:
          CI: true
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}